<div th:fragment="login_form">

  <div th:if="${param.error}">
    Invalid username and password.
  </div>
  <div th:if="${param.logout}">
    You have been logged out.
  </div>
  <form th:action="@{login/process}" method="post">
    <div><label> Email : <input type="text" name="email"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
  </form>


  <br>
  <p align="center">Still havnt got any account? <a th:href="@{/auth/registration}">Register then</a>
    <br>
    <a href="restore">Password restore must be here later:)</a>
  </p>


</div>