<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <title>Ticket Machine</title>
<!--    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">-->
<!--    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">-->
</head>
<body BGCOLOR="#808080">
<div class="container">
    <div layout:fragment="content_part">

    </div>
</div>
</body>
<footer>
    <div th:insert="~{components/footer_fragment :: footer1}"></div>
</footer>
</html>