<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
    <meta charset="utf-8"/>
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <title>Ticket Machine</title>
    <!--    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">-->
    <!--    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">-->
</head>
<body BGCOLOR="#808080">
<div class="container">
    <div align="center">
<!--        <h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>-->
<!--        <h2 th:text="${#authentication.authenticated}"></h2>//если авторизован выдаёт true т.е. можно в ифе использовать-->
<!--        <h2 th:text="${#authentication.getPrincipal}"></h2>-->
<!--        <h2 th:text="${#authentication.getDetails}"></h2>-->
<!--        <h2 th:text="${#authentication.getCredentials}"></h2>-->
<!--        <div th:text="${#authorization.expression('hasRole(''ADMIN'')')} "></div>-->
<!--        <div th:text="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} "></div>-->
<!--        <div  sec:authorize="${hasRole('ADMIN')}" > IS ADMIN1 </div>-->
<!--        <div  sec:authorize="hasAuthority('ADMIN')" > IS ADMIN2 </div>-->
<!--        <div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--            This content is only shown to administrators.3-->
<!--        </div>-->
<!--        <div sec:authorize="hasRole('ADMIN')">IS ADMIN4</div>-->
<!--        <div sec:authorize="hasRole('ROLE_ADMIN')">IS ADMIN5</div>-->


        Logged user: <b><span sec:authentication="name">Bob</span></b><br>
        Roles: <span sec:authentication="principal.authorities"></span>

        <div th:if="${ #authorization.expression('isAuthenticated()') and #strings.contains(#authentication.principal.authorities,'USER')}">
            <a th:href="@{/somelink}">ENGINEER LINK</a>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div layout:fragment="content_part">

    </div>
</div>
</body>
<footer>
    <div th:insert="~{components/footer_fragment :: footer1}"></div>
</footer>
</html>