<div th:fragment="registration_form">

<form th:action="@{/auth/registration}" th:method="post" th:object="${newUser}">
    <label for="userName">Name: </label>
    <input id="userName" type="text" th:field="*{name}" required>
    <br>
    <label for="userSurname">Surname: </label>
    <input id="userSurname" type="text" th:field="*{surname}" required>
    <br>
    <label for="userPhone">Phone number: </label>
    <input id="userPhone" type="text" th:field="*{phoneNumber}" required>
    <br>
    <label for="userEmail">Email: </label>
    <input id="userEmail" type="text" th:field="*{email}" required>
    <br>
    <label for="userPassword">Password:</label>
    <input id="userPassword" type="password" minlength="8" maxlength="20" th:field="*{password}" required>
    <br>
<!--    TODO:Тут должна быть проверка на ввод пароля второй раз -->
<!--    <label for="userPassword2">Repeat your password:</label>-->
<!--    <input id="userPassword2" type="password" minlength="8" maxlength="20" th:field="*{password2?}" required>-->
<!--    <br>-->
    <input type="submit" value="Register">
    <input type="reset" value="Reset all">
</form>

</div>