<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_template/pages_main_template.html}">
<body>
<div layout:fragment="content_part">

    <div style="text-align: center;"><h3 style="alignment: center; margin-top: 15px;">Engineer info:</h3></div>
    <br>
    <table table class="table table-dark table-striped table-hover table-bordered" th:object="${engineerInfo}">

        <tr tr class="align-middle">
            <th colspan="2">Info:</th>
        </tr>

        <tr>
            <td th:text="'Name: '">Name: </td>
            <td th:text="*{name}"></td>
        </tr>

        <tr>
            <td th:text="'Surname: '">Surname:  </td>
            <td th:text="*{surname}"></td>
        </tr>

        <tr>
            <td th:text="'Email: '">Email: </td>
            <td th:text="*{email}"></td>
        </tr>

        <tr>
            <td th:text="'Phone nubmer: '">Phone number: </td>
            <td th:text="*{phoneNumber}"></td>
        </tr>

    </table>

    <br><br><br>
    <p align="center"><a href="/ticket_machine" style="color: grey">Go back to main system page</a></p>


</div>
</body>
</html>