<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_template/pages_main_template.html}">
<body>
<div layout:fragment="content_part">

    <div style="text-align: center;">
        <h3 style="alignment: center; margin-top: 15px;">Welcome to Home page</h3>
        <a href="ticket_machine" style="color: grey">Main system page</a><br><br>
    </div>
    <br>


</div>
</body>
</html>