<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_template/pages_main_template.html}">
<body>
<div layout:fragment="content_part">

    <div style="text-align: center;"><h3 style="alignment: center; margin-top: 15px;">Create new ticket</h3>
    </div>
    <br>
    <form th:action="@{/new_ticket}" th:method="post" th:object="${newTicket}">
        <div class="col-12">
            <label for="subject" class="form-label">Ticket subject: <span class="text-muted">(5-100 symbols)</span></label>
            <input type="tel" th:field="*{subject}" minlength="5" maxlength="100" class="form-control form-control-lg"
                   id="subject" required>
        </div>
        <div class="col-12">
            <label for="message" class="form-label">Ticket text: <span class="text-muted">(5-4000 symbols)</span></label>
            <textarea type="text" rows="5" cols="45" minlength="10" maxlength="4000"
                      th:field="*{message.messageText}" class="form-control" id="message"
                      required></textarea>
            <br>
            <input class="btn btn-primary btn-secondary btn-block" type="file" id="myFile" name="filename" disabled>
            <button class="btn btn-primary btn-secondary btn-block" type="submit">Submit</button>
        </div>
    </form>

</div>
</body>
</html>