<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_template/pages_main_template.html}">
<body>
<div layout:fragment="content_part">

    <div style="text-align: center;"><h3 style="alignment: center; margin-top: 15px;">Enter your new password: </h3></div>
    <br>

    <form th:action="@{/auth/new_password}" method="post" th:object="${passwordResetDto}">

        <h5 class="h5 mb-3 font-weight-normal">Please enter new password:</h5>

        <input type="hidden" th:field="*{email}"  id="email" class="form-control">
        <input type="hidden" th:field="*{token}"  id="token" class="form-control">

        <input type="password" th:field="*{password}"  id="pass" class="form-control" placeholder="Enter new password: " required>
        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('password')}"
             th:errors="*{password}"></div>

        <h5 class="h5 mb-3 font-weight-normal">Repeat password:</h5>
        <input type="password" th:field="*{passwordConfirmed}"  id="passwordConfirmed" class="form-control" placeholder="Repeat new password: " required>
        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('passwordConfirmed')}"
             th:errors="*{passwordConfirmed}"></div>

        <button class="btn btn-lg btn-secondary btn-block" type="submit">Submit</button>
    </form>

</div>
</body>
</html>