<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_template/pages_main_template.html}">
<body>
<div layout:fragment="content_part">

                <div style="text-align: center;"><h3 style="alignment: center; margin-top: 15px;">Password resetting</h3></div>
                        <br><br>
    <div style="text-align: center;"><h4>A password change link has been sent to your e-mail address.
        Password reset link will be valid in next 15 minutes. Now you will be rederected to main page after </h4>

<h1>
    <div id="counter">10</div>
    <script>
        setInterval(function() {
            var div = document.querySelector("#counter");
            var count = div.textContent * 1 - 1;
            div.textContent = count;
            if (count <= 0) {
                window.location.replace("/");
            }
        }, 1000);
    </script> </h1><h3>seconds</h3>
        <h4>Press <a href="/" style="color: grey">here</a> if you wanna open it immediately.</h4></div>

</div>
</body>
</html>