<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_template/pages_main_template.html}">
<body>
<div layout:fragment="content_part">

    <div style="text-align: center;"><h3 style="alignment: center; margin-top: 15px;">Your tickets:</h3>
    </div>
    <br><br>
    <!-- border-primary-->
    <table class="table table-dark table-striped table-hover table-bordered">
        <thead>
        <tr class="align-middle">
            <th>Ticket №</th>
            <th>Ticket Status</th>
            <th>Creation Date</th>
            <th>Closing Date</th>
            <th>Engineer</th>
            <th>Ticket Subject</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${userTickets.size()==0}">
            <!--        <th:block th:if="${#lists.isEmpty(userTickets)}">-->
            <tr>
                <td colspan="6">
                    <div style="text-align: center">
                        <!--                        //th:text="You have no tickets yet"-->
                        <h5>You have no tickets yet</h5>
                    </div>
                </td>
            </tr>
        </th:block>

        <th:block th:if="${userTickets.size()>0}">
            <tr th:each="ticket: ${userTickets}">
                <td><a th:href="@{/ticket_machine/ticket_info/{id}(id=${ticket.id})}" th:text="${ticket.id}"/></td>
                <td th:text="${ticket.status}"></td>
                <td th:text="${#temporals.format(ticket.creationTime, 'dd.MM.yyyy HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(ticket.closingTime, 'dd.MM.yyyy HH:mm:ss')}"></td>
                <td>
                    <span th:if="${ticket.engineer == null}">
                        <p>No Engineer yet</p>
                    </span>
                    <span th:unless="${ticket.engineer == null}">
                    <a th:href="@{/ticket_machine/engineer_info/{id}(id=${ticket.engineer.id})}"
                    th:text="${ticket.engineer.name + ' ' + ticket.engineer.surname}"/>
                    </span>
                </td>
                <td th:text="${ticket.subject}"></td>
            </tr>
        </th:block>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <form th:action="@{/ticket_machine/new_ticket}" th:method="get">
        <input class="btn btn-lg btn-secondary btn-block" type="submit" value="Create a new Ticket">
    </form>


</div>
</body>
</html>